# Firebase Configuration - interbox-app-8d400
VITE_FIREBASE_API_KEY=AIzaSyDdLZo5ZO32WOpxNgqqSQw381cekJPfVBg
VITE_FIREBASE_AUTH_DOMAIN=interbox-app-8d400.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=interbox-app-8d400
VITE_FIREBASE_STORAGE_BUCKET=interbox-app-8d400.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=1087720410628
VITE_FIREBASE_APP_ID=1:1087720410628:web:12ee7c7a6b6d987f102f51
VITE_FIREBASE_MEASUREMENT_ID=G-VRZEQPCZ55

# Email Configuration (Firebase Functions)
EMAIL_USER=seu-email@gmail.com
EMAIL_PASSWORD=sua-senha-de-app-aqui
SENDGRID_API_KEY=your_sendgrid_api_key_here
RESEND_API_KEY=your_resend_api_key_here

# OpenPix Configuration
FLOWPAY_API_KEY=openpix_Y38HAGsdNHvxEHtCwBNtaVlGWLC19WdIBkbTfuTJbUI= 